.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#chart {
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  padding: 1rem;
  margin: 0 2rem;
}

.bar {
  fill: #3f51b5;
}

.label {
  fill: #3f51b5;
}