.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#chart {
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  padding: 1rem;
  margin: 0 2rem;
}

.bar {
  fill: #97EE98;
}

.label {
  fill: #15EA23;
}

@media screen and (max-width: 765px) {
  .imgFit {
    display: hidden;
  }
}

/* ================ Footer ================ */

.footer {
  width: 100%;
  height: 65px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 50px;
  cursor: pointer;
}

#github {
  margin-right: 1em;
}